.mat-list .mat-list-item {
    height: 45px;
}

.pro-detail {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 100px;
    border-radius: 50%;
}

.example-chip-list {
    width: 100%;
}